

<mat-toolbar class="menu" role="header" color="primary">
    <mat-toolbar-row>
      <button mat-button class="toolbar__icon-button mat-button">
        <a routerLink="/home">
        <mat-icon>home</mat-icon>
        <span style="margin-left: 5px !important;">WEB 425</span>
        </a>
      </button>
          
      <div fxFlex></div>
  
      <!-- User Profile -->
      <button class="toolbar__icon-button" [matMenuTriggerFor]="menu" mat-icon-button>
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>perm_contact_calendar</mat-icon>
          <span>My Profile</span>
        </button>
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <mat-sidenav-container class="container" >
    <mat-sidenav mode="side" opened class="sidenav">Welcome to my Forms Assignment</mat-sidenav>
    <mat-sidenav-content>
      
        <mat-card class="card-layout">
            <form class="form-assignment" #f="ngForm" (ngSubmit)="onSubmit(f.value)">
          
              <mat-card-title>Please Login</mat-card-title>
          
              <mat-form-field>
                <input matInput placeholder="Username" type="text" name="username" ngModel>
              </mat-form-field>
          
              <mat-form-field>
                <input matInput placeholder="SSN" type="text" name="ssn" ngModel>
              </mat-form-field>
          
              <div class="password-group" ngModelGroup="passwordsGroup">
                <mat-form-field>
                  <input matInput placeholder="Password" type="password" name="password" ngModel>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Confirm Password" type="password" name="pconfirm" ngModel>
                </mat-form-field>
              </div>
          
              <mat-card-actions class="actions">
                <div fxFlex></div>
              <button class="button-example" mat-raised-button type="submit">Submit</button>
              </mat-card-actions>
          
            </form>
          </mat-card>

    </mat-sidenav-content>
  </mat-sidenav-container>
